/**/.idea/**/*
/**/.ipynb_checkpoints/**/*
/**/__pycache__/**/*
/data/**/*
/dataset/**/*
/logs/**/*
/weights/**/*
/tmp/**/*
/configs/**/*
!/configs/example.config.json
!*.gitkeep
/docker/source/**/*
*.env
!/**/example.env
/notebooks/**/*
!/notebooks/**/*.py
!/notebooks/**/*.ipynb
!/**/.gitkeep
/metrics/**/*
/**/build/**/*
*.so
*.o
*.pyd
*.zip
*.rar
*.7z
*.jpeg
*.phg
*.jpg
